

body{
 font-size: 16px;
}

header,footer{
    max-width:100%;
    height:auto;
    align-items: center;
    grid-template-areas:
     "header","header",

    "footer","footer";
}
header {
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid-area: "title";
    align-items: center;


}
.contrast{
    max-width:fit-content ;
    margin: 0;
    grid-area: "contrast";
}
.thirds{
    max-width: fit-content;
    margin: 0;
    grid-area:"thirds" ;
}
.prox{
    max-width: fit-content;
    margin:0;
    grid-area: "prox";
}
footer{
    
    background-color: lightgrey;
    margin: 1rem;
    grid-area:"footer";
}

