


header,footer{
    max-width:100%;
    height:auto;
    align-items: center;
    grid-template-areas:
     "header","header",

    "footer","footer";
}
header {
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid-area: "title";
    align-items: center;
}
.title{
    width: 200px;
    background-color: lightgrey;
    align-items: center;

}
body{
    font-size: 16px;
}

.contrast{
    width: 200px;;
    margin: 0;
    grid-area: "contrast";
}
.thirds{
    width: 200px;
    margin: 0;
    grid-area:"thirds" ;
}
.prox{
    width: 200px;
    margin:0;
    grid-area: "prox";
}
footer{
    
    
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid-area: "title";
    align-items:center;
}