


header,footer{
    width:100%;
    height:auto;
    align-items: center;
    grid-template-areas:
     "header","header",

    "footer","footer";
}
header {
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid-area: "title";
    align-items: center;
}
.title{
    width: 200;
    background-color: lightgrey;
    align-items: center;

}
main{
    font-size: 16px;
}

.contrast{
    width: 200;
    margin: 0;
    grid-area: "contrast";
}
.thirds{
    width: 200;
    margin: 0;
    grid-area:"thirds" ;
}
.prox{
    width: 200;
    margin:0;
    grid-area: "prox";
}
footer{
    
    width: 200;
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid-area: "title";
    align-items:center;
}