body{
 font-size: 16px;
}

header, main,footer{
    max-width: 700px;
    margin: 0 auto;
}
header {
    margin: 1rem;
    border: 1px solid rgb(123, 137, 141);
    padding: 5rem;
    background-color: rgb(34, 146, 146);
    display:grid;
    grid-template-columns: 200px 1fr;
    align-items: center;

}
main{
    align-self: auto;
    background-color: rgb(245, 238, 238);
}
footer{
    border: 1px solid rgb(198, 210, 214);
    align-content: center;
    background-color: rgb(46, 139, 139);
}

