@media only screen and (min-width: 32.5em){
    body{
        font-size: 16px;
       }
    header {
        align-items: center;
    }      
    footer{
        border: 10px solid rgb(198, 210, 214)
    }
    



}