*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
 font-size: 10px;
}

header, main,footer{
    max-width: 700px;
    align-items: center;
    
}
header {
    margin: 1rem;
    border: 1px solid rgb(123, 137, 141);
    padding: 1rem;
    background-color: rgb(34, 146, 146);
    display:grid;
    grid-template-columns: 300px 1fr;
    align-items: right;


}
main{
    
    background-color: rgb(245, 238, 238);
    margin: 1rem;
}
footer{
    border: 5px solid red;
    
    background-color: rgb(46, 139, 139);
    margin: 1rem;
}

