
body{
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}
header{
	max-width: 500px;
	display: flex;
	align-items: center;
	align-content:center;
	border-radius: 12px;
	background-color: dimgray;
	font: 16px;

}
footer{
	display: flex;
	align-content:center ;
	align-items: center;
	background-color: dimgray;
	border-radius: 6px;
}
