body{
  background-color: aquamarine;
}


header,
footer {
  margin: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width:auto;
  height:auto;
  background-color:grey;
  border: 1px solid #bbb;
  align-content: center;
  padding-left: 70px;

}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

  


  
img {
  
    border: 1px solid #333;
    width: 200px;
    height:auto;
  }
  