@media only screen and (min-width: 32.5em){
    .contrast{
        font-size: 12px;
        grid-template-columns: 1fr;
       }
    
}
@media only screen and (min-width: 45.5em){
    .thirds{
        font-size: 12px;
        grid-template-columns: 1fr 1fr;
       }


}

@media only screen and (min-width: 60.5em){

    .prox{
        font-size: 12px;
        grid-template-columns: 1fr 1fr 1fr;
       }
}