*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
 font-size: 16px;
}

header,footer{
    max-width: auto;
    height:auto;
    grid-template-areas:
     "header","header",
    "footer","footer";
}
header {
    margin: 1rem;
    padding: 1rem;
    background-color:lightgrey;
    grid: flex;
    align-content:center;


}
main{
    background-color: antiquewhite;
    margin: 1rem;
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto ;
}
.contrast{
    margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
height: auto;
}
.thirds{
    margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
    height: auto;
}

.prox{
    margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eee;
height: auto;
}






footer{
    
    background-color:lightgrey;
    margin: 1rem;
    grid:flex;
    align-content: center;
}

