

header{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo{
    display: flex;
    justify-items: start;
}
nav ul li a{
    display: flex;
    display: inline;
    text-decoration: none;
    justify-content: center;
    align-content: center;
}
main{
    max-height: 542;
}
#hero{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
}
#event{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
    
}
#weather{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
}
#news{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
}
#sport{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
}  




footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}