

header{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo{
    display: flex;
    flex-direction: start;
}
.face{
    align-content: flex-end;
}
.icon8{
    align-content: flex-end;
}

nav{
    
    display: flex;
    flex-direction: block;
    text-decoration: none;
    justify-content: center;
    align-content: center

}
ul{
    display:inline-flex;
    text-decoration: none;
}
li a{
    display:flex;
    flex-direction: block;
    justify-content: center;
    align-content: center;
}

main{
    max-height:auto;
}
#hero{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    height:auto;
    padding: 50px;
    gap: 5px;
}
#event{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    padding: 50px;
    gap:5px;
    
}
#weather{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    padding: 50px;
    gap: 10px;
}
#news{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    padding: 50px;
    gap:10px;
}
#sport{
    background-color: bisque;
    border: 1px solid black;
    display:flex;
    justify-content: start;
    padding: 50px;
    gap: 10px;
}  




footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}