header{
    color: blue;
    font-family: sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
body{
    grid-template-columns: 1fr 1fr 1fr;
}
.document{
    align-items: center;
    display: flex;
    border: 1px black;
}


footer{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display: flex;
    align-content: center;
    border-radius: 15px;
}



/*media query large css*/
@media screen and(min-width: 60em){
}

