header{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display:flex;
    align-items: center;
    border-radius: 15px;
    background-color: grey;
}
body{
    grid-template-columns: 1fr 1fr;
}
.document{
    display: flex;
    border: 1px black;
    align-content:center ;
}


footer{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display: flex;
    align-content: center;
    border-radius: 15px;
    background-color: grey;
}
/*medium css media query*/
@media screen and(min-width: 32.5em){

}
    
