header{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display:flex;
}
body{
    grid-template-columns: 1fr 1fr;
}
.document{
    display: flex;
    border: 1px black;
}


footer{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display: flex;
}
/*medium css media query*/
@media screen and(min-width: 32.5em){

}
    
