
body{
    max-width: 320px;
}

header{

    color:whitesmoke;
    font-family: sans-serif;
    font: 16px;
    display: flex;
    align-items: center;
    background-color: blue;
}
.document{
    display:inline-block ;
    border: 1px black;
    align-content: center;
}

footer{
    color: whitesmoke;
    font-family: sans-serif;
    font: 16px;
    display: flex;
    align-content: center;
    background-color: blue;
}
@media  only screen  and (min-width: 28em){
    body{
    grid-template-columns: 1fr 1fr 1fr;
}

}