header{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    display: flex;
}
body{
    grid-template-columns: 1fr;
}

footer{
    color: blue;
    font-family: sans-serif;
    font: 16px;
    border-radius: 15px;
    display: flex;
}