header{
    background-color: #eee;
    max-width: auto;
    display:flex;
    margin:0;
    padding:0;
}
.logo{
    display:flex;
    width: 80px;
    height: auto;
}


nav button {
    display:inline-flex;
    margin: 0;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}


/*nav{
    background-color: #eee;
}*/
nav ul{
    
    list-style-type: none;
    padding: 0;
    margin:0;
}
nav ul li{

    display:inline-flex;
    justify-content: center;
    justify-items: center;
    font-size: 1rem;
    color:whitesmoke;
}
.social{
    display:flex;
    width: 80px;
    height: auto;
    
}

footer{
    justify-content: center;
    justify-items: center;
    background-color: #eee;
    line-height: 60px;
}