/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


body{

    margin:0;
    padding:0;
}

header, main , footer{

    display:grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows:auto 1fr max-content;
    justify-content: center;
    justify-items: center;
    border:1px solid black;
    
}
header, footer{
    background-color: goldenrod;
    justify-content: space-between;
    justify-items: center;
}
nav{
    display:flex;
    background-color: gold;

}
li {
    display: inline-table;
    left:-100px;
    list-style-type: none;
    justify-items: space-evenly;
    justify-content: center;
}
main{
    border:1px solid #000;
}
.weather{
    display: grid;
    border:1px solid #000;
    width: 250px;
    height:250px;
    position: relative;
}
.infor{
    width: 250px;
    height: 250px;
    display:grid;
    border:1px solid #000;

}
.contact{
    width: 250px;
    height: 250px;
    display:grid;
    border:1px solid #000;

}
.image{
    width:350px;
    height: 500px;
    display: grid;
    border:1px solid #000;
}

.map{

    width: 250px;
    height: 250px;
    display:grid;
    border:1px solid #000;


}